nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align:end;
    display: block;
    overflow: hidden;
}

.h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
 head {
    padding-top: 20px;
 }